<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CSS Review</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <header class="header">
      <input type="button" class="btn btn-info" value="Scrape New Data">
 
      <h1>Mission to Mars</h1>
    
    </header>
    <main>
      <section class="posts">
    <h2>Latest Mars News</h2>
    <h3>NASA's Mars Rover Drivers Need Your Help</h3>
        <article class="post">
          <p>Using an online tool to lable Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the curiosity rover.
          </p>
        </article>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Featured Mars Image</h2>
              <img src="https://spaceimages-mars.com/image/featured/mars1.jpg" class="fancybox-image" alt="JPL Mars Space Images">
            </div>
            <div class="col-md-4"> 
              </div>
           
          
          <div class="col-md-4"> 
          
                  <thead>
              <h3>Mars Facts</h3>
              <table class="table table-striped table-bordered">
              </div>
                <thead>
                  <tr>
                    <th>  </th>
                    <th>Mars</th>
                    <th>Earth</th>
                  </tr>
                    
                </thead>
                <tbody>
                  <tr>
                    <td>Description</td>
                    <td>  </td>
                    <td>   </td>
                  </tr>
                  <tr>
                    <td>Mars-Earth comparison</td>
                    <td>Mars</td>
                    <td>Earth</td>
                  </tr>
                  <tr>
                    <td>Diameter:</td>
                    <td>6,779 km</td>
                    <td>12,742 km</td>
                  </tr>
                  <tr>
                    <td>Mass</td>
                    <td>6.39 x 10^23 kg</td>
                    <td>5.97 x 10^24 kg</td>
                  </tr>
                  <tr>
                    <td>Moons:</td>
                    <td>2</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Distance from Sun:</td>
                    <td>227,943,824 km</td>
                    <td>149,598,262 km</td>
                  </tr>
                  <td>Length of Year:</td>
                    <td>687 Earth days</td>
                    <td>365.24 days</td>
                  </tr>
                  <td>Temperature:</td>
                    <td>-87 to -5 C </td>
                    <td>-88 to 58 C </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
            <div class="row">
              <div class="col-md-4"> 
              </div>
              <div class = "col-md-4">
                <h3>Mars Hemispheres</h3>
              </div> 
              <div class="col-md-4"> 
              </div>


            <div class="row">
              <div class = "col-md-3">
              <img src="https://marshemispheres.com/images/full.jpg"  alt="JPL Mars Space Images"width="230" height="230">
              <h3>Cerberus Hemisphere Enhanced</h3>
              </div>
              <div class = "col-md-3">
              <img src="https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg"  alt="JPL Mars Space Images"width="230" height="230">
              <h3>Schiaparelli Hemisphere Enhanced'</h3>
              </div>
              <div class = "col-md-3">
              <img src="https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg"  alt="JPL Mars Space Images"width="230" height="230">
              <h3>Syrtis Major Hemisphere Enhanced</h3>
              </div>
              <div class = "col-md-3">

              <img src="https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg"  alt="JPL Mars Space Images"width="230" height="230">
              <h3>Valles Marineris Hemisphere Enhanced</h3>
              </div>
            </div> 
            </section>

          </div>
        </div>
        </div>

      </div> 
        </div>
  </section>
    </main>
  </div> 
</body>

</html>


             
  
   
      
        
        
        
      
    